/*
Theme Name:LearningWordpress
Author: Maryrose Adille
Version: 1.0
*/

body {
	color: #333;
	font-size: 17px;
	margin: 0% 10%;
}

p {
	line-height: 1.65em;
}
a {
    color: #00a2ff;
    text-decoration: none;
}

/*General Layout*/
div.container {
	max-width: 920px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

article.post {
	border-bottom: 2px dotted #bbbbbb;
}

article.post:last-of-type {
	border-bottom: none;
}


/*Header*/
.site-header {
	border-bottom: 2px solid #999;
}
.site-header h1 {
	margin-bottom: 0px
}
.site-header p {
	margin-top: 0px;
}

/*Footer*/
.site-footer {
	margin-top: 30px;
	border-top: 2px solid #999;
}
.site-footer .site-nav {
    margin-top: 20px;
}
/*Navigation Menus*/
.site-nav ul  {
	margin: 0px;
	padding: 0px;
}


.site-nav ul:before, .site-nav ul:after { 
	content: "";
	display: table;
}

.site-nav ul:after {
	clear: both;
}

.site-nav ul {
	*zoom: 1;
}

.site-nav ul li {
	list-style: none;
	float: left;
}

/*Site Header Menu*/
.site-header nav ul li {
	margin-right: 5px;
}

.site-header nav ul li a:link,
.site-header nav ul li a:visited {
	display: block;
	padding: 10px 18px;
	border: 1px solid #bbb;
	border-bottom: none;
	text-decoration: none;
}

.site-header nav ul li a:hover {
	background-color: #ebebeb;
}

.site-header nav ul li.current_page_item a:link,
.site-header nav ul li.current_page_item a:visited, 
.site-header nav ul li.current-page-ancestor a:link, 
.site-header nav ul li.current-page-ancestor a:visited {
	background-color: #00a2ff;
	color: white;
}

/*Main Column*/
.main-column {
	width:66%;
	float: left;
}

.secondary-column {
	width: 30%;
	float: right;
}

.clearfix {
	/*clear:both;*/
	overflow: auto;
}
/*Footer Menu*/
.site-footer {
	margin-top: 30px;
	border-top: 1px solid #ddd;
	font-size: 84%
}

.site-footer nav {
	margin: 30px 0 10px 0;
}
.site-footer nav ul li {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px dotted #bbb;
}



/*Page layout*/
article h1 {
	font-size: 30px;
	letter-spacing: 2px;
}


/*Children links*/
.children-links {
	margin-bottom: 20px;
	font-size: 90%;
}

.children-links a:link,
.children-links a:visited {
	text-decoration: none;
}


.children-links ul {
	margin-top: 20px;
}

.children-links li {
	margin-right: 20px;
	margin-top: 2px;
}

.children-links .parent-link {
	float:left;
	margin-right: 20px;
	padding-right: 20px;
	border-right: 1px solid #ddd;
	font-size: 120%;
	font-weight: bold;
}

.children-links .parent-link a:link,
.children-links .parent-link a:visited {
	color: #bbb;
}

.children-links .current_page_item a:link,
.children-links .current_page_item a:visited {
	border-bottom: 1px solid #bbb;
	color: #333;
	cursor: default;
}

/*Image*/
img {
	max-width: 100%;
	height: auto;
}

.has-thumbnail{
	position: relative;
	padding-left: 200px;
}

.post-thumbnail {
	position: absolute;
	top:0;
	left: 0;
}

/*Search*/
div.hd-search {
	float: right;
}

div.hd-search label {
	position:absolute;
	left: -999px;
}

div.hd-search #searchsubmit {
	background-color: #006ec3;
	color: #fff;
	border: none;
	padding: 5px 14px;
	vertical-align: top;
}

div.hd-search #s {
	vertical-align: top;
	padding: 3px 0;
}