/*
Theme Name:castoroil
Author: Maryrose Adille
Version: 1.0
*/


@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Montserrat");


body {
	color: #333;
	font-size: 17px;
	/*margin: 0% 10%;*/
	/*background: red;*/
	font-family: 'Work Sans', sans-serif;
	background-color: #f0f3f4;
}

p {
	line-height: 1.65em;
}
a{
	color: #000;
    text-decoration: none;
}
a:hover {
    color: #3CB878;
    text-decoration: none;
}
/*bootstrap */
div.container {
	max-width: none !important;
}

/***************************NAVBAR****************************/
/*Navbar header*/
 .navbar.transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: transparent;
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.navbar {
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;
}
.navbar-opacity {
	/*background-color: rgba(0, 0, 0, 0.86);*/
	/*background-color: rgb(255, 255, 255);*/
	background-color: rgba(60, 184, 120, 0.95);
    /*background: linear-gradient(white, rgba(255, 255, 234, 0.91));*/
}

/*Logo*/
.navbar-brand {
	width: 200px;
    padding: 0px;
    margin: 0px;
}
.navbar-brand img {
	padding: 6px 0px;
	margin-left: -12px;
}


/*Menu list*/
.navbar-inner .menulist {
	padding: 24px 0px;
}
.navbar-inner .menulist ul li {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}
.navbar-opacity .navbar-inner .menulist>ul>li>a{
	color: #fff;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.12);
    letter-spacing: 1.5px;
}

.transparent .navbar-inner .menulist>ul>li>a{
	color: #fff;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.12);
    letter-spacing: 1.5px;
}
/*Parent Menu*/
.nav>li>a:focus, .nav>li>a:hover {
	background-color: rgba(49, 142, 94, 0.73);
}
.navbar .navbar-inner .menulist>u>li>a:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.27);
    color: white !important;
}

.navbar .navbar-inner .menulistul li a:focus {
	    background: #3CB878;
    outline: none;
    border: none;
    color: white;
}
.transparent .navbar-inner .menulist ul li ul li a {
	color:#3CB878;
}

.navbar-inner .menulist ul li:hover {

}

.navbar-inner .menulist ul li ul {
	display:none;
}
.navbar-inner .menulist ul li:hover ul {
	display:block;
	border:none;
	    padding: 0px;
}

/*Dropdown child pages*/
.menu-item-has-children .dropdown-menu>li>a:hover {
	color: #3CB878 !important;
}
.menu-item-has-children .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding: 14px 13px;
    letter-spacing: 0px !important;
    font-size: 17px;
    color: rgb(86, 85, 85)!important;
    text-transform: capitalize;
}


/*Sticky sidebar*/
.sticky {
	width: 357px;
}
/*Displaying menu on right*/
.navbar-right .dropdown-menu {
	right: auto;
    left: 0;
}
.navbar-opacity .current_page_item a{
    color: #3aaf74  !important;
}
 .transparent .current_page_item a{
    color: #3aaf74  !important;
}
.navbar-opacity .current_page_item a:hover {
	color:white !important;
}
.navbar-opacity .current_page_item:hover {
	background-color: rgba(255, 255, 255, 0.27);
}

.current_page_item {
    background: #ffffff;
}

/*Menu List Mobile*/
.navbar-header button i {
	font-size: 31px;
    color: #3cb878;
}

.transparent .navbar-header button i {
	font-size: 31px;
    color: white;
}

.navbar-toggle {
	padding: 28px 10px;
}



.navbar-inner {
	transition: all .3s ease-out;
	width: 1144px;
}
.dropped.navbar-inner {
	background-color: white;
}



/*Header*/
header {
    background-size: cover;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: top center;
}

header .header-content{
	    top: 200px;
    position: absolute;
        text-align: center;
}


header .header-content h1 {
	font-size: 36px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
        text-shadow: 0px 1px rgba(0, 0, 0, 0.46);
}


/*General Layout*/
div.container {
	max-width: 920px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

article.post {
	border-bottom: 2px dotted #bbbbbb;
}

article.post:last-of-type {
	border-bottom: none;
}


/*Header*/
.site-header {
	border-bottom: 2px solid #999;
}
.site-header h1 {
	margin-bottom: 0px
}
.site-header p {
	margin-top: 0px;
}

/*Footer*/
.site-footer {
	margin-top: 30px;
	border-top: 2px solid #999;
}
.site-footer .site-nav {
    margin-top: 20px;
}

/**********************Main Column*******************************/
.main-wrapper {
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(59, 59, 59, 0.13);
    background: #FFF;
    padding: 40px 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

/************************Sidebar*********************************/
.side-warapper {
    margin-top: 15px;	
}
.searchform input {
    border: 1px solid #3CB878;
}

.searchform button {
    height: 34px;
    background: #3CB878;
    color: white;
    font-size: 17px;
    border: 1px solid #3CB878;
}

/*Individual Sidebar*/
.sidenav {
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(59, 59, 59, 0.13);
    background: #FFF;
    padding: 40px 30px;
    margin-bottom: 15px;
}


/*Child pages*/
.grandchild-indiv {
    background: #f0f3f4;
    margin: 0px 0px;
    margin-top: 15px;
}

.child-indiv {
	background: #f0f3f4;
}
.child-indiv .caption {
    padding: 20px;
}
/*Footer Menu*/
.site-footer {
	margin-top: 30px;
	border-top: 1px solid #ddd;
	font-size: 84%
}

.site-footer nav {
	margin: 30px 0 10px 0;
}
.site-footer nav ul li {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px dotted #bbb;
}



/*Page layout*/
article h1 {
	font-size: 30px;
	letter-spacing: 2px;
}



/*Image*/
img {
	max-width: 100%;
	height: auto;
}

.has-thumbnail{
	position: relative;
	padding-left: 200px;
}

.post-thumbnail {
	position: absolute;
	top:0;
	left: 0;
}

/*Search*/
div.hd-search {
	float: right;
}

div.hd-search label {
	position:absolute;
	left: -999px;
}

div.hd-search #searchsubmit {
	background-color: #006ec3;
	color: #fff;
	border: none;
	padding: 5px 14px;
	vertical-align: top;
}

div.hd-search #s {
	vertical-align: top;
	padding: 3px 0;
}





/*iPhone 6 Plus */
@media screen and (max-width: 1200px) {

	.navbar-brand {
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
    }
    /*Centering menu li*/
	.navbar .navbar-nav {
	    display: inline-block;
	    float: none;
	}
	.navbar .navbar-collapse {
	    text-align: center;
	}
	.navbar-right {
		float:none !important;
	}
	.navbar-inner .menulist {
	    padding: 80px 0px 0px 0px;
	}
	.container.navbar-inner {
		width:100%;
	}

}


/*iPhone 6 Plus */
@media screen and (max-width: 1000px) {

	/*Navbar image*/
	.navbar-brand img {
	    margin-left: 17px;
	}
}

	.navbar-collapse .menulist{

	}
@media screen and (max-width: 991px) {
	.navbar .navbar-nav {
	     width: 100%; 	   
	}
	/*Navbar image*/
	.navbar-brand {
		position: relative;
	    left: 0;
	    transform: none;
	}
	/*Menu */
	.navbar-inner .menulist {
	     padding: 0px; 
	     text-align: left;
	     		padding: 0px;
	    margin: 0px;
	    width: 100%;
	}
	.dropped .navbar-header button i, .transparent .navbar-inner .menulist ul li a{
	    color: #3cb878;
	    /*padding:10px 0px;*/
	}
	.navbar-inner .menulist ul li {
		display:block;
	}

    .navbar-header {
        float: none;
        height: 100px;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-nav .dropdown-menu {
	    position: static;
	    float: none;
	    width: auto;
	    margin-top: 0;
	    background-color: transparent;
	    border: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	  }
	 .navbar-nav .dropdown-menu .dropdown-header,
	.navbar-nav .dropdown-menu>li>a {
	    padding: 5px 15px 5px 25px;
	  }
	.navbar-nav.dropdown-menu>li>a {
	    line-height: 20px;
	  }
	 .navbar-nav .dropdown-menu>li>a:focus,
	.navbar-nav  .dropdown-menu>li>a:hover {
	    background-image: none;
	  }
}


/*Mobile Navbar*/
@media screen and (max-width: 700px) {


}



@media screen and (max-width: 767px) {
	.navbar-brand img {
	    margin-left: 17px;
	}
}


/*iPhone 6 Plus */
@media screen and (max-width: 414px) {
	/*Navbar image*/
	.navbar-brand img {
	    margin-left: 17px;
	}
}




@media (min-width: 768px) {




}